body {
  font-family: 'Source Sans Pro', sans-serif;
}
a,
.link {
  color: #9fc5ff;
}
a:hover {
  color: #6ca6ff;
  text-decoration: none;
}
.openfield {
  display: block;
  padding: 0 0 0 100px;
}
.navbar-inverse .navbar-nav li,
a {
  background-color: #ffffff;
  color: #9fc5ff;
}
