h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
body {
  font-family: 'Source Sans Pro';
  color: #242726;
}
.nav-logo {
  color: #e8eef0;
  font-weight: 700;
  text-transform: uppercase;
}
a,
.link {
  color: #9fc5ff;
}
a:hover {
  color: #6ca6ff;
  text-decoration: none;
}
.loginmodal {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #242726;
}
.loggedout-prompt {
  color: #f8f3e8;
  display: block;
  margin: 12px 0 0 20px;
  font-size: 1em;
}
.navbar {
  background-color: #4e4947;
  padding: 0 0 0 0;
}
.preferences {
  display: block;
  background-color: #413d3b;
  padding: 0 20px 0 20px;
  margin: 0 5px 0 5px;
}
.preferences:hover {
  background-color: #191716;
}
ul.dropdown-menu.loginmodal::before {
  margin: 0 0 0 205px;
}
ul.dropdown-menu.loginmodal::after {
  margin: 0 0 0 205px;
}
