{% extends "base.html" %}
{% load humanize %}
{%load url from future %}

{% block content %}
<body class="{% if request.user.is_authenticated %}logged-in{% else %}logged-out{% endif %}">

{% if request.user.is_authenticated %}
    <a href="/accounts/logout/" class="pull-right">Logout</a>
    <img src="{{ request.user.profile.profile_image_url }}"/>
    {% if request.user.first_name or request.user.last_name %}
        {{ request.user.first_name }} {{ request.user.last_name }}
    {% else %}
        {{ request.user.username }}
    {% endif %}
    {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}

{% else %}
    <a href="/accounts/login/" class="pull-right">Login</a>

{% endif %}

</body>

<body>
<div class="container">
<a href="/city">Link</a>
<h4>I am a</h4>
<a href="#">developer</a>
<a href="#">designer</a>
<a href="#">photographer</a>
<a href="#">videographer</a>
<h4>Interested in a(n)</h4>
<a href="#">Job</a> | <a href="#">Internship</a>
<h4>In</h4>
{% for city in citys %}
	<p> {{ city.name }}</p>
{% endfor %}
<h4>At</h4>
{% for organization in organizations %}
	<p> {{ organization.name }} </p>
{% endfor %}
</div>
</body>

{% endblock %}